*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../img/sfondo.png");
}

.wrapper{
  width: 400px;
  margin: auto;
}

header{
  background-color: white;
  width: 400px;
  height: 80px;
  position: relative;
  border: 1px solid black;
}

nav{
  width: 100%;
  height: 20%;
  top: 80%;
  position: absolute;
  background-color: darkgray;
  border: 1px solid black;
}

main{
  width: 400px;
  height: 450px;
  margin-top: 3.16px;
  margin-bottom: 3.16px;
}

footer{
  position: relative;
  width: 400px;
  height: 240px;
}

/* zona main */

        /*divs corpo */
        .left, .right{
        width: 30%;
        height: 100%;
        float: left;
        }

        .center{
        background-color: gray;
        width: 38%;
        height: 100%;
        float: left;
        margin: 0 1%;
        }

        div aside{
        margin-bottom: 3.16px;
        border: 1px solid black;
        background-color: white;
        }

        /*left side*/
        .pages{
        height: 35%;
        }

        .archives{
        height: 10%;
        }

        .meta{
        height: 15%;
        }

        /* center */
        .articoli{
        height: 100%;
        background-color: white;
        border: 1px solid black;
        }

        /*right side*/
        .search{
        height: 10%;
        }

        .tagcloud{
        height: 15%;
        }

      /* clearfix main */
      main::after{
        content: "";
        display: table;
        clear: both;
      }



/* zona footer */
      footer div{
        float: left;
        width: 25%;
        height: 70%;
        border: 1px solid black;
        background-color: white;
      }

      .f_posts{
      }

      .f_comments{
      }

      .f_categories{
      }

      .f_textwidg{
      }

      .f_lastinfo{
        height: 30%;
        width: 100%;
        border: 1px solid black;
        background-color: white;
        position: absolute;
        top: 70%;
      }
      /* clearfix footer */
      footer::after{
        content: "";
        display: table;
        clear: both;
      }
