*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.centratura{
  width: 400px;
  margin: auto;
}


header{
  background-color: red;
  width: 400px;
  height: 80px;
  position: relative;
  border: 2px solid lightyellow;
}

nav{
  width: 100%;
  height: 20%;
  top: 80%;
  position: absolute;
  background-color: indigo;
}

main{
  background-color: lightyellow;
  width: 400px;
  height: 450px;
  border: 2px solid lightyellow;
}

footer{
  position: relative;
  width: 400px;
  height: 240px;
  background-color: blue;
  border: 2px solid lightyellow;
}

/* zona main */

    /*divs-ider*/
    .left, .right{
      background-color: pink;
      width: 30%;
      height: 100%;
      float: left;
    }

    .center{
      background-color: gray;
      width: 40%;
      height: 100%;
      float: left;
    }

       /*left side*/
      .pages{
        height: 35%;
        background-color: purple;
      }

      .archives{
        height: 10%;
        background-color: brown;
      }

      .meta{
        height: 15%;
        background-color: orange;
      }

      /* center */
      .articoli{
        height: 100%;
        background-color: black;
      }

      /*right side*/
      .search{
        height: 10%;
        background-color: yellow;
      }

      .tagcloud{
        height: 15%;
        background-color: green;
      }

      /* clearfix main */
      main::after{
        content: "";
        display: table;
        clear: both;
      }

/* zona footer */
      footer div{
        float: left;
        width: 25%;
        height: 70%;
      }

      .f_posts{
        background-color: brown;
      }

      .f_comments{
        background-color: red;
      }

      .f_categories{
        background-color: yellow;
      }

      .f_textwidg{
        background-color: green;
      }

      .f_lastinfo{
        height: 30%;
        width: 100%;
        background-color: gold;
        position: absolute;
        top: 70%;
      }
      /* clearfix footer */
      footer::after{
        content: "";
        display: table;
        clear: both;
      }
